In [242]:
import pandas as pd

#Program Memasukan data
df = pd.read_csv("data-stroke.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [243]:
from sklearn import preprocessing

#merubah tipe data dengan menggunakan preprocessing
le = preprocessing.LabelEncoder()
df['gender'] = le.fit_transform(df['gender']).astype("float")
df['ever_married'] = le.fit_transform(df['ever_married'])
df['work_type'] = le.fit_transform(df['work_type'])
df['Residence_type'] = le.fit_transform(df['Residence_type'])
df['smoking_status'] = le.fit_transform(df['smoking_status'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   float64
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   int64
 6   work_type          5110 non-null   int64
 7   Residence_type     5110 non-null   int64
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   int64
 11  stroke             5110 non-null   int64
dtypes: float64(4), int64(8)
memory usage: 479.2 KB

In [244]:
df.fillna(df.mean())

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1.0,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,51676,0.0,61.0,0,0,1,3,0,202.21,28.893237,2,1
2,31112,1.0,80.0,0,1,1,2,0,105.92,32.500000,2,1
3,60182,0.0,49.0,0,0,1,2,1,171.23,34.400000,3,1
4,1665,0.0,79.0,1,0,1,3,0,174.12,24.000000,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,0.0,80.0,1,0,1,2,1,83.75,28.893237,2,0
5106,44873,0.0,81.0,0,0,1,3,1,125.20,40.000000,2,0
5107,19723,0.0,35.0,0,0,1,3,0,82.99,30.600000,2,0
5108,37544,1.0,51.0,0,0,1,2,0,166.29,25.600000,1,0
5109,44679,0.0,44.0,0,0,1,0,1,85.28,26.200000,0,0

In [3]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_size=(3,), learning_rate_init=0.1, max_iter=200)
clf.fit(xtrain,ytrain)

TypeError: __init__() got an unexpected keyword argument 'hidden_layer_size'

In [4]:
import numpy as np

df=df.replace(np.nan, df.mean())

NameError: name 'df' is not defined

In [5]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
print(x.shape)

NameError: name 'df' is not defined

In [6]:
# membagi data training dan data set

from sklearn.model_selection import train_test_split

xtrain, xtes, ytrain, ytes = train_test_split(x, y, test_size=0.2, random_state=42)

NameError: name 'x' is not defined

In [249]:
knn.fit(xtrain, ytrain)

KNeighborsClassifier(metric='manhattan', n_neighbors=1)

In [250]:
hasil=knn.predict(xtes)

In [251]:
from sklearn.metrics import accuracy_score

akurasi=accuracy_score(ytes, hasil)
print(akurasi)

0.9119373776908023