In [3]:
import pandas as pd

#Program Memasukan data
df = pd.read_csv("data-stroke.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                5110 non-null   float64
 1   hypertension       5110 non-null   int64
 2   heart_disease      5110 non-null   int64
 3   ever_married       5110 non-null   object
 4   work_type          5110 non-null   object
 5   Residence_type     5110 non-null   object
 6   avg_glucose_level  5110 non-null   float64
 7   bmi                4909 non-null   float64
 8   stroke             5110 non-null   int64
 9   smoking_status     5110 non-null   object
dtypes: float64(3), int64(3), object(4)
memory usage: 399.3+ KB

In [4]:
from sklearn import preprocessing

#merubah tipe data dengan menggunakan preprocessing
le = preprocessing.LabelEncoder()
#df['gender'] = le.fit_transform(df['gender']).astype("float")
df['ever_married'] = le.fit_transform(df['ever_married'])
df['work_type'] = le.fit_transform(df['work_type'])
df['Residence_type'] = le.fit_transform(df['Residence_type'])
df['smoking_status'] = le.fit_transform(df['smoking_status'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   age                5110 non-null   float64
 1   hypertension       5110 non-null   int64
 2   heart_disease      5110 non-null   int64
 3   ever_married       5110 non-null   int64
 4   work_type          5110 non-null   int64
 5   Residence_type     5110 non-null   int64
 6   avg_glucose_level  5110 non-null   float64
 7   bmi                4909 non-null   float64
 8   stroke             5110 non-null   int64
 9   smoking_status     5110 non-null   int64
dtypes: float64(3), int64(7)
memory usage: 399.3 KB

In [5]:
df.fillna(df.mean())

,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,stroke,smoking_status
0,67.0,0,1,1,2,1,228.69,36.600000,1,1
1,61.0,0,0,1,3,0,202.21,28.893237,1,2
2,80.0,0,1,1,2,0,105.92,32.500000,1,2
3,49.0,0,0,1,2,1,171.23,34.400000,1,3
4,79.0,1,0,1,3,0,174.12,24.000000,1,2
...,...,...,...,...,...,...,...,...,...,...
5105,80.0,1,0,1,2,1,83.75,28.893237,0,2
5106,81.0,0,0,1,3,1,125.20,40.000000,0,2
5107,35.0,0,0,1,3,0,82.99,30.600000,0,2
5108,51.0,0,0,1,2,0,166.29,25.600000,0,1
5109,44.0,0,0,1,0,1,85.28,26.200000,0,0

In [6]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=1, metric='manhattan')

In [7]:
import numpy as np

df=df.replace(np.nan, df.mean())

In [8]:
x=df.iloc[:,:-1].values
y=df.iloc[:,-1].values
print(x.shape)

(5110, 9)

In [9]:
# membagi data training dan data set

from sklearn.model_selection import train_test_split

xtrain, xtes, ytrain, ytes = train_test_split(x, y, test_size=0.2, random_state=42)

In [10]:
knn.fit(xtrain, ytrain)

KNeighborsClassifier(metric='manhattan', n_neighbors=1)

In [11]:
hasil=knn.predict(xtes)

In [12]:
from sklearn.metrics import accuracy_score

akurasi=accuracy_score(ytes, hasil)
print(akurasi)

0.3953033268101761